<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="http://www.parsecdn.com/js/parse-1.2.9.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script src="/js/workspace.js"></script>
	<style type="text/css">
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	
	#main {
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}
	input[type="button"] {
        width: 100%;
    }
	input.error {
		border: 1px dotted red;
	}
	label.error {
		display: block;
		color: red;
	}
	</style>
  </head>
  <body>
  <div id="main">
  
    <h1>Workspace</h1>
    
    <div id="message"></div>

    <form action="GET">
        <input id="fetchPostsLocallyButton" type="button" value="Fetch Posts Locally" /><br />
        <input id="fetchPostsViaCloudCodeButton" type="button" value="Fetch Posts via Cloud Code" /><br />
    </form>

  </div>
  </body>
</html>
